<a href="https://colab.research.google.com/github/ishangrover-9654/python-training/blob/main/module1_python/assignments/Sol_Assignment_Statements%2C_Indentation_and_Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

### As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

* if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

* if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

* if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3' 

* if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [ ]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date = input()

2020-12-04

In [ ]:
# Write your code using if else statements to extract the quarter
date_year =  user_date[:4]
date_month = user_date[5:7]

if int(date_month) >= 1 and int(date_month) <=3:
  quarter='-Q1'
elif int(date_month) >= 4 and int(date_month) <=6:
  quarter='-Q2'
elif int(date_month) >= 6 and int(date_month) <=9:
  quarter='-Q3'
else:
  quarter='-Q4'
# Store the quarter value in a string variable named quarter

quarter = date_year + quarter

In [ ]:
# Print the extracted quarter
print(quarter)

2020-Q4

## <u>Problem 2 </u>

* You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [ ]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

* Find the mean and median heights and weights of the people in your locality

In [ ]:
# Calculate the mean height and print it
hgt = locality_data['Height']
totalHgt = sum(hgt)
meanHgt = totalHgt / len(hgt)
print(f'Mean height is {meanHgt}')

# Calculate the median height and print it
hgt.sort()
medianHgt = hgt[(len(hgt)//2)]
print(f'Median Height is {medianHgt}')


# Calculate the mean weight and print it
weight = locality_data['Weight']
totalWeight = sum(weight)
meanWeight = totalWeight / len(weight)
print(f'Mean weight is {meanWeight}')


# Calculate the median weight and print it
weight.sort()
medianWgt = weight[(len(weight)//2)]
print(f'Median weight is {medianWgt}')

Mean height is 171.0
Median Height is 170
Mean weight is 66.2
Median weight is 64

* Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [ ]:
# Python code to print the first three elements for the key 'Age'

ages = locality_data['Age']
ages[:3]

[42, 29, 35]

* Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'

In [ ]:
# Your code below

if 'Rashmi' in locality_data['Name'][-2:]:
  print(locality_data['Name'][-2:])
else:
  print("Name not found")

['Rashmi', 'Vaishali']

## <u> Problem 3 </u>

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user
* Number of classes held
* Number of classes attended.

In [ ]:
# Enter your input

print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
20
Number of classes attended
14

In [ ]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

print(f'The attendance is {attendance}')

The attendance is 70.0

And print the following statements based on the condition above

* percentage of class attended
* Is student is allowed to sit in exam or not.

In [ ]:
# Your code here 
print(f'percentage of class attended: {attendance}')
allowed = True
if attendance < 75.0:
  allowed = False

print(f'Is Student allowed to set in exam or not : {allowed}')

percentage of class attended: 70.0
Is Student allowed to set in exam or not : False

## <u>Problem 4</u>

### A school has following rules for grading system:
* Below 25 - F
* 25 to 45 - E
* 45 to 50 - D
* 50 to 60 - C
* 60 to 80 - B
* Above 80 - A

Keep the left number inclusive and the right number exclusive, something like [25,45) for grade E where the set is closed at 25 and open at 45.

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [ ]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
23

In [ ]:
# Your code here to print the corresponding grade
if marks >=80:
  grade = 'A'
elif marks >=60 and marks < 80:
  grade = 'B'
elif marks >=50 and marks < 60:
  grade = 'C'
elif marks >=45 and marks < 50:
  grade = 'D'
elif marks >=25 and marks < 45:
  grade = 'E'
else:
  grade = 'F'

print(f'The grade for marks {marks} is {grade}')

The grade for marks 23 is F